*{
    box-sizing: border-box;
}
.header{
    border-bottom-left-radius: 10px;
    background-color: #1D6D18;
    width: 1360px;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 10px;
    height: 212px;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding-left: 530px;
}
.main{
    width: 150px;
    height: 60px;
    background: inherit;
    margin-left: 330px;
    border-style: hidden;  
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 10px;
}


.main, a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}



  
    
  
  .main:hover {
    color:black;
    box-shadow: inset 200px 0 0 0 black;
    
}

.adverdisment{
    width: 150px;
    height: 60px;
    background: inherit;
    margin-left: 330px;
    border-style: hidden;  
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 10px;
}


.adverdisment, a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

  
    
  
  .adverdisment:hover {
    color:black;
    box-shadow: inset 200px 0 0 0 black;
    
}
.black{
    margin-top: 212px;
    width: 1360px;
    height: 411px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0px;
}