*{
    box-sizing: border-box;
}

body{
    background-color: chocolate;
}
main{
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    color: white;
}


div{
    background-color: lightblue;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-top: 150px;  
    margin-left: 150px;

}

form{
    padding-top: 100px;
    padding-left: 50px;
}

label{
    font-family: sans-serif;
    font-size: 25px;

}

input{
    width: 200px;
    height: 50px;
    border-style: hidden;
    background-color: darkgray;
}
#submit{
    width: 150px;
    height: 50px;
    margin-left: 50px ;
    margin-top: 40px;
}